body{
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html{
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%)
}

li a {
  display: block;
  color: #a7a7a7;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  color: black;
} 

.container{
  width: calc(100% - 20px);
  min-height: calc(100vh - 20px);
  padding:10px;
}

/*******************/
/*     ACCUEIL     */
/*******************/

#accueil{
  display:flex;
}

.accueil-background {
  margin-left: auto;
  background-image: url("../img/montfuji.jpg");
  background-size: cover;
  background-position: center;
  width: 70vw;
}

.accueil-background h1{
  width:220px;
  transform:translateX(-50%);
}
/*******************/
/*     APROPOS     */
/*******************/

#a-propos{
  display:  flex;
}

#a-propos > div{
  margin: auto;
  width:50%;
}

#a-propos > div img{
  width:100%;
}

/**********************/
/*    REALISATIONS    */
/**********************/

#realistions{
  display: flex;
}

#realisations h2{
  text-align: center;
  margin: 20px auto 50px auto;
}

#realisations > div{
  display:flex;
  margin: 15px auto;
  width:50%;
}

#realisations > div:nth-child(odd){
  flex-direction: row-reverse;
}

#realisations > div img{
  width:300px;
}

#realisations > div > div{
  padding:10px;
}