body{
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html{
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0 0 0 40px;
  padding: 0;
  width: 200px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%)
}

li a {
  display: block;
  color: #a7a7a7;
  padding: 8px 16px;
  text-decoration: none;
  font-size:18px;
}

/* Change the link color on hover */
li a:hover {
  color: black;
} 

.container{
  width: calc(100% - 20px);
  min-height: calc(100vh - 20px);
  padding:10px;
}

/*******************/
/*     ACCUEIL     */
/*******************/

#accueil{
  display:flex;
}

.accueil-background {
  margin-left: auto;
  background-image: url("../img/montfuji.jpg");
  background-size: cover;
  background-position: center;
  width: 70vw;
}

.accueil-background h1{
  width:220px;
  transform:translateX(-50%);
}
/*******************/
/*     APROPOS     */
/*******************/

#a-propos{
  display:  flex;
}

#a-propos > div{
  margin: auto;
  width:50%;
}

#a-propos > div img{
  width:100%;
}

/**********************/
/*    REALISATIONS    */
/**********************/

#realisations{
  background:#f3f3f3;
}

#realisations h2{
  text-align: center;
  margin: 20px auto 50px auto;
}

#realisations > div{
  display:flex;
  margin: 15px auto;
  width:50%;
}

#realisations > div:nth-child(even){
  flex-direction: row-reverse;
}

#realisations > div img{
  width:300px;
}

#realisations > div > div{
  padding:15px;
}

#realisations a {
  background:black;
  padding:5px 10px;
  cursor:pointer;
  border-radius:6px;
  color:white;
  text-decoration: none;
  font-size:14px;
}

/********************/
/*     CONTACT      */
/********************/

#contact{
  display: flex;
  height:calc(100vh - 120px);
  margin:50px auto;
}

#contact > div > div {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

#contact > div > div *{
  margin: auto;
}

#contact > div > div h2{
  margin: auto auto 5px 0;
}

#contact > div > div p{
  margin-top: 10px;
}

#contact > div{
  width: calc(35% + 250px);
  margin: auto;
  display:flex;
  flex-direction: row;
}

#contact > div img{
  width:400px;
}

/********************/
/*      FOOTER      */
/********************/

footer{
  background: #141313 ;
  height:100px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p{
  text-align: center;
  margin:0;
  color:white;
}

footer div{
  display: flex;
  flex-direction: row;
  width:80px;
  margin: auto;
}

footer img{
  width: 20px;
  margin: auto;
}

/**********************/
/*    REALISATIONS    */
/**********************/

#infographie{
  display: flex;
}

#infographie h2{
  text-align: center;
  margin: 175px auto 100px auto;
}

#infographie > div{
  background:red;
  margin: 50px auto;
  width:50%;
}

#infographie > div:nth-child(even){
  flex-direction: row-reverse;
}

#infographie > div img{
  width:500px;
}

